
<!-- <div #foldersList>
  <p> test </p>

</div> -->
<!-- 
<ul>
  <li *ngFor = 'let lst of this.myTmpL1'> {{lst}}
    <ul>
      <li>
        <ul>
          <li *ngFor = 'let ch of lst'>
            {{ch}}
          </li>
        </ul>

      </li>
    </ul>
  </li>
</ul> -->


<!-- <ul id="outerList">
 <li *ngFor = 'let d of this.myTmpL1'>
{{d}}
 </li>
</ul> -->

<!--<div id="myList">
  <ul *ngFor=' let i of myTmpL1'>
    {{i}}
    <li *ngFor=' let i of myTmpL2'>
      {{i}}
      <ul>
        <li *ngFor=' let j of myTmpL3'>
          {{j}}
        </li>
      </ul>
    </li>
  </ul>

</div>-->

<!-- <ul>
  <li *ngFor = 'let l1 of myTmpL1'>
    {{l1}}
  </li>
  <ul>
    <li  *ngFor = 'let l2 of myTmpL2'>
      {{l2}}
    </li>
    <ul>
      <li  *ngFor = 'let l3 of myTmpL3'>
        {{l3}}
      </li>
    </ul>
  </ul>
</ul> -->



<!-- <li *ngFor = 'let i of myTmpData'> -->
<!-- {{i[1].split('/')[1]}} -->
<!-- <ul>
      <li *ngFor = 'let j of i[0].length -1'>
        {{j}}
    </li>          
    </ul> -->
<!-- </li> -->

<!-- {{myTmpData[0].split('/').length}} -->
<!-- {{myTmpData[i].split('/')[1]}} -->
<!-- <ul>
    <li *ngFor = 'let j of myTmpData'>
      {{j}}
  </li>    
  </ul> -->



<!-- working -->

<div class="row">
  <div class="col-md-2 left">
    <app-nav-bar [ListOfDir]="dirList"></app-nav-bar>
  </div>

  <div class="col-md-10">
    <app-grid-list [ListOfFile]="fileList" [path]="path"></app-grid-list>
  </div>
</div>